:root {
  --dark: #1b1212;
  --dark-green: #3a4438;
  --main: #4b5e3c;
  --highlight: #977d5c;
  --light: #ece8e0;
  --lighter: #f8f6f0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--lighter);
  color: var(--dark-green);
  font-family: 'Cormorant Garamond', serif;
}
h1,
h2,
h3 {
  color: var(--main);
}
p {
  font-size: 22px;
}
