.boda-container {
  width: 100%;
  margin: 0 auto;
}
.boda-title {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: wrap;
  align-items: flex-start;
  justify-content: center;
}
.boda-title-text {
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 2% 0;
}
h1 {
  font-size: 32px;
}
.boda-title-p {
  font-size: 28px;
  font-weight: 500;
}
.signature {
  font-size: 28px;
  font-style: italic;
  font-weight: 200;
}
h2 {
  font-size: 36px;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
}

/*Ceremonia & Recepción*/
.when-where-container {
  padding: 2%;
  background-image: url('/bouquet3-min-crop.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 10px 5px;
}
