.countdown-text {
  color: var(--dark-green);
  font-size: 26px;
}

.countdownTimer {
  padding: 4% 0 0 0;
}

.countdownTimer .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.countdownTimer .box {
  padding: 0 10px;
  margin-top: 10px;
}
.label {
  margin: 0;
  color: var(--highlight);
  text-transform: lowercase;
}
.value {
  font-weight: 500;
  color: var(--main);
}
