.details-btn {
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  color: var(--lighter);
  border: 1.5px solid var(--main);
  background-color: var(--main);
  padding: 10px 30px;
  margin-top: 3%;
}
.details-btn:hover {
  color: var(--main);
  cursor: pointer;
  background-color: transparent;
}
