.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2%;
}
.initials-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.initials {
  width: 120px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid var(--main);
  font-size: 50px;
  font-weight: 300;
}
/* .link-initials {
  text-decoration: none;
  color: var(--main);
} */
.date {
  color: var(--main);
  padding: 10px 0;
  font-size: 25px;
  font-weight: 300;
}
footer {
  margin: 80px 0 0px 0;
  padding-bottom: 12px;
}
footer p {
  font-size: 16px;
}
