.hero-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.hero-img {
  width: 100%;
  display: block;
}
.centered-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-transform: uppercase;
}
.centered-text h1 {
  font-weight: 300;
  font-size: 60px;
}
.centered-text h2 {
  font-weight: 300;
  font-size: 22px;
}
