.hero-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.hero-img {
  width: 100%;
  display: block;
}
.centered-text {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-transform: uppercase;
}
.hero-h1 {
  font-weight: 300;
  font-size: 68px;
  color: var(--main);
}
.hero-h2 {
  font-weight: 300;
  font-size: 26px;
  color: var(--dark-green);
}
/*Responsive mobile*/
@media all and (min-width: 320px) and (max-width: 480px) {
  .hero-h1 {
    font-size: 30px;
  }
  .hero-h2 {
    font-size: 12px;
  }
}
