.home {
  border: 1px solid blue;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 5% 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
}
.pm-span {
  text-transform: lowercase;
}
.when-where {
  padding: 20px 0;
}
