.hospedaje-container {
  width: 100%;
  margin: 0 auto;
}
.hospedaje-header {
  padding: 2% 5%;
  margin: 0 auto;
}
.hospedaje-h1 {
  font-size: 42px;
  text-transform: uppercase;
}
.hospedaje-header-p {
  padding-top: 10px;
}
