.hospedaje-container {
  width: 100%;
  margin: 0 auto;
}
.hospedaje-header {
  padding: 2% 5%;
  margin: 0 auto;
}
.hospedaje-h1 {
  font-size: 42px;
  text-transform: uppercase;
}
.hospedaje-header-p {
  padding-top: 10px;
}
.hospedaje-codigo {
  font-style: italic;
}

/*Responsive mobile - Hospedaje*/
@media all and (min-width: 320px) and (max-width: 480px) {
  .hospedaje-header {
    padding: 5% 5% 2% 5%;
  }
  .hospedaje-h1 {
    font-size: 22px;
  }
  .hospedaje-header-p {
    padding-top: 0px;
    font-size: 14px;
  }
  .hospedaje-codigo {
    font-size: 14px;
  }
}
