.hoteles-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.hotel-container {
  width: 30%;
  padding: 2%;
  background-color: var(--light);
  margin: 10px;
}
.hotel-h3 {
  font-size: 32px;
}
.hotel-website {
  text-decoration: underline;
  color: var(--highlight);
  font-size: 22px;
}
.hotel-website:hover {
  cursor: pointer;
  color: var(--main);
}
.hotel-img-container {
  padding-top: 15px;
}
.hotel-img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/*Responsive mobile - Hoteles*/
@media all and (min-width: 320px) and (max-width: 480px) {
  .hoteles-container {
    /* width: 80%; */
    flex-direction: column;
  }
  .hotel-container {
    width: 95%;
    padding: 3%;
    margin: 5px;
  }
  .hotel-h3 {
    font-size: 18px;
  }
  .hotel-website {
    font-size: 14px;
  }
  .hotel-tel,
  .hotel-distance {
    font-size: 14px;
  }
  .hotel-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}
