.hoteles-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.hotel-container {
  width: 30%;
  padding: 2%;
  background-color: var(--light);
  margin: 10px;
}
.hotel-h3 {
  font-size: 32px;
}
.website-hotel {
  text-decoration: underline;
  color: var(--highlight);
  font-size: 22px;
}
.website-hotel:hover {
  cursor: pointer;
  color: var(--main);
}
.hotel-img-container {
  padding-top: 15px;
}
.hotel-img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
