.rsvp-btn {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  background-color: var(--main);
  border: 1px solid var(--main);
  opacity: 0.9;
  margin-top: 3%;
}
.rsvp-btn:hover {
  color: var(--dark-green);
  cursor: pointer;
  background-color: transparent;
}
